In [2]:
import pandas as pd
import numpy as np

ModuleNotFoundError: No module named 'pandas'

In [ ]:
sales = pd.read_csv("sales_subset.csv", index_col=0)

In [ ]:
sales.columns

Index(['store', 'type', 'department', 'date', 'weekly_sales', 'is_holiday',
       'temperature_c', 'fuel_price_usd_per_l', 'unemployment'],
      dtype='object')

## Grouped Summary Statistics

In [ ]:
sales['type'].value_counts()

type
A    9872
B     902
Name: count, dtype: int64

In [ ]:
sales.head()

,store,type,department,date,weekly_sales,is_holiday,temperature_c,fuel_price_usd_per_l,unemployment
0,1,A,1,2010-02-05,24924.50,False,5.727778,0.679451,8.106
1,1,A,1,2010-03-05,21827.90,False,8.055556,0.693452,8.106
2,1,A,1,2010-04-02,57258.43,False,16.816667,0.718284,7.808
3,1,A,1,2010-05-07,17413.94,False,22.527778,0.748928,7.808
4,1,A,1,2010-06-04,17558.09,False,27.050000,0.714586,7.808

In [ ]:
sales_by_type = sales.groupby("type")['weekly_sales'].mean()
sales_by_type

type
A    23674.667242
B    25696.678370
Name: weekly_sales, dtype: float64

In [ ]:
sales_type_min_max = sales.groupby('type')['weekly_sales'].agg(['min', 'max'])
sales_type_min_max

         min        max
type
A    -1098.0  293966.05
B     -798.0  232558.51

Grouping by multiple variables

In [ ]:
sales_by_type_is_holiday = sales.groupby(['type','is_holiday'])['weekly_sales'].mean()
sales_by_type_is_holiday

type  is_holiday
A     False         23768.583523
      True            590.045250
B     False         25751.980533
      True            810.705000
Name: weekly_sales, dtype: float64

In [ ]:
unemp_fuel_stats = sales.groupby('type')[['unemployment', 'fuel_price_usd_per_l']].agg(['min', 'max', 'mean', 'median'])
unemp_fuel_stats

     unemployment                         fuel_price_usd_per_l            \
              min    max      mean median                  min       max
type
A           3.879  8.992  7.972611  8.067             0.664129  1.107410
B           7.170  9.765  9.279323  9.199             0.760023  1.107674


          mean    median
type
A     0.744619  0.735455
B     0.805858  0.803348

## Pivot Tables

In [ ]:
weekly_sales_by_week = sales.pivot_table(values="weekly_sales", index="type")
print(weekly_sales_by_week)

      weekly_sales
type
A     23674.667242
B     25696.678370

In [ ]:
weekly_sales_by_week_mean = sales.pivot_table(values="weekly_sales", index="type", aggfunc= np.mean)
print(weekly_sales_by_week_mean)

      weekly_sales
type
A     23674.667242
B     25696.678370

/tmp/ipykernel_12772/4077700094.py:1: FutureWarning: The provided callable <function mean at 0x79de9c3144a0> is currently using DataFrameGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  weekly_sales_by_week_mean = sales.pivot_table(values="weekly_sales", index="type", aggfunc= np.mean)

In [ ]:
weekly_sales_by_week_mean_median = sales.pivot_table(values="weekly_sales", index="type", aggfunc=["mean", "median"])
print(weekly_sales_by_week_mean_median)

              mean       median
      weekly_sales weekly_sales
type
A     23674.667242     11943.92
B     25696.678370     13336.08

In [ ]:
print(sales.pivot_table(values="weekly_sales", index='type',columns="department", fill_value=0, margins=True))

department             1              2             3             4  \
type
A           30961.725379   67600.158788  17160.002955  44285.399091
B           44050.626667  112958.526667  30580.655000  51219.654167
All         32052.467153   71380.022778  18278.390625  44863.253681

department             5             6             7             8  \
type
A           34821.011364   7136.292652  38454.336818  48583.475303
B           63236.875000  10717.297500  52909.653333  90733.753333
All         37189.000000   7434.709722  39658.946528  52095.998472

department             9            10  ...            91             92  \
type                                    ...
A           30120.449924  30930.456364  ...  70423.165227  139722.204773
B           66679.301667  48595.126667  ...  13199.602500   50859.278333
All         33167.020903  32402.512222  ...  65654.535000  132316.960903

department            93            94             95            96  \
type
A           53413.633939  60081.155303  123933.787121  21367.042857
B            1466.274167    161.445833   77082.102500   9528.538333
All         49084.687292  55087.846181  120029.480069  20337.607681

department            97            98          99           All
type
A           28471.266970  12875.423182  379.123659  23674.667242
B            5828.873333    217.428333    0.000000  25696.678370
All         26584.400833  11820.590278  379.123659  23843.950149

[3 rows x 81 columns]

In [ ]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10774 entries, 0 to 10773
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   store                 10774 non-null  int64
 1   type                  10774 non-null  object
 2   department            10774 non-null  int64
 3   date                  10774 non-null  object
 4   weekly_sales          10774 non-null  float64
 5   is_holiday            10774 non-null  bool
 6   temperature_c         10774 non-null  float64
 7   fuel_price_usd_per_l  10774 non-null  float64
 8   unemployment          10774 non-null  float64
dtypes: bool(1), float64(4), int64(2), object(2)
memory usage: 768.1+ KB

In [ ]:
print(sales[["weekly_sales","department"]].info())

<class 'pandas.core.frame.DataFrame'>
Index: 10774 entries, 0 to 10773
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   weekly_sales  10774 non-null  float64
 1   department    10774 non-null  int64
dtypes: float64(1), int64(1)
memory usage: 252.5 KB
None

In [ ]:
sales.info()

NameError: name 'sales' is not defined